{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}
{% load static %}

        <!-- Add Product Section Start -->
        <section id="add-product">
            <div class="container">
                <header class="section-header">
                    <h3>Add Category</h3>
                </header>
                <div class="row form">

                    <div class="col-md-6">

                        <h4>Add New Category</h4>
                        <div class="form-group">
                            <label for ="Category Name">Category Name</label>
                            <input name="Category Name" type="text" class="form-control" placeholder="Category Name" />
                        </div>
                        <div class="button">
                            <button type="submit">Submit</button>
                        </div>
 
                    </div>

                </div>
            </div>
        </section>
        <!-- Add Product Section End -->

{% endblock %}
