{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}
{% block h1 %}Add Product{% endblock %}
{% block h1staff %}Add Product{% endblock %}
{% block login %}logout{% endblock %}

{% block content %}
{% load static %}
        <!-- Add Product Section Start -->
        <section id="add-product">
            <div class="container">
                <header class="section-header">
                </header>
                <div class="row form">
                    <div class="col-md-12">
                        <h4>Add Product Form</h4>
                        <!-- <div class="form-group">
                            <label for ="Product Name">Product Name:</label>
                            <input name="Prodcut Name" type="text" class="form-control" placeholder="Product Name" />
                        </div> -->
                        <form class="form-group" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <label for ="Product Name">Product Name:</label>
                            <input name="Prodcut Name" type="text" class="form-control" placeholder="Product Name" />
                            <label for ="Product">Product Category:</label>
                                <select name="Product cat" class="form-control">
                                    {%for cat in cats%}
                                    <option value={{cat.id}} >{{cat.name}}</option>
                                    {%endfor%}

                                </select>
                                <div class="form-group">
                                    <label for ="Product description">Product Description:</label>
                                    <input name ="Product description" type="text" class="form-control" placeholder="Description" />
                                </div>
                                <div class="form-group">
                                    <label for ="Product Price">Product Price:</label>
                                    <input name ="Product Price"type="text" class="form-control" placeholder="Price" />
                                </div>
                                <div class="form-group">
                                    <label for ="Product Image">Product Image:</label>
                                    <input name ="Product Image" type="file" class="form-control" placeholder="Upload Image" />
                                </div>
                                <div class="button">
                                    <button type="submit">Submit</button>
                                </div>
                        </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div>{{massage}}</div>
        <!-- Add Product Section End -->
{% endblock %}
