{% extends 'base.html' %}

{% block title %}manager{% endblock %}
{% block login %}logout{% endblock %}

{% block content %}
{% load static %}

   
    
        <!-- Cart Section Start -->
        <section id="staff-cart">
            <div class="container">
                <header class="section-header">
                    <h3 class="st-ti">Sales Analytics<span>(last month)</span></h3>
                    
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in top_products %}
                                    <tr>
                                        <td>{{ product.item__name }}</td>
                                        <td>{{ product.item__price|floatformat:2 }}</td>
                                        <td>{{ product.total_orders }}</td>
                                        <td>{{ product.total_price|floatformat:2 }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2">No products found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <header class="section-header">
                    <h3 class="st-ti st-customer">customers Analytics<span>(last month)</span></h3>
                    
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">No. of Orders</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Reward(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in top_customers %}
                                    <tr>
                                        <th scope="row">{{ customer.customer__phone_number }}</th>
                                        <td>{{ customer.number_of_orders }}</td>
                                        <td>${{ customer.total_spent|floatformat:2 }}</td>
                                        <td>{{ customer.points }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">No customers found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Cart Section End -->

{% endblock %}

