{% extends 'base.html' %}

{% block title %}Filter Orders{% endblock %}

{% block content %}
{% load static %}

    <h1>Filter Orders</h1>
    <form method="post" id="filter-form" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    {% if orders %}
        <h2>Filtered Orders</h2>
        <ul>
            {% for order in orders %}
                <li>{{order}} in {{order.order_date}} and status is {{order.status}} and {{order.total_price}} price</li>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <input type="hidden" name="form_type" value="change_status">
                    <select class="custom-select" name="status">
                        <option selected value="Pending">Pending</option>
                        <option value="Paid">Paid</option>
                        <option value="Cancel">Cancel</option>
                    </select>
                    <button type="submit">change status for this order</button>
                </form>
            {% empty %}
                <li>No results found.</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div>{{massage}}</div>

{% endblock %}
