{% extends 'base.html' %}

{% block title %}Remove Product{% endblock %}
{% block h1 %}Remove Product{% endblock %}
{% block h1staff %}Remove Product{% endblock %}
{% block login %}logout{% endblock %}

{% block content %}
{% load static %}

        <!-- Add Product Section Start -->
        <section id="add-product">
            <div class="container">
                <header class="section-header">
                </header>
                <div class="row form">
                    <div class="col-md-12">
                        <h4>Remove Product Form</h4>
                        <form class="form-group" method="post">
                            {% csrf_token %}
                            <label for ="Product Name">Product Name:</label>
                            <select name="Product Name" class="form-control">
                                {%for pro in product%}
                                <option value="{{pro.name}}" >{{pro.name}}</option>
                                {%endfor%}
                            </select>
                            <label for ="Product cat">Product Category:</label>
                            <select name="Product cat" class="form-control">
                                    {%for cat in cats%}
                                    <option value="{{cat.id}}" >{{cat.name}}</option>
                                    {%endfor%}
                                </select>
                                <div class="button">
                                    <button type="submit">Submit</button>
                                </div>
                        </form>
                        <div>{{massage}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Add Product Section End -->
{% endblock %}
