{% extends 'base.html' %}

{% block title %}Staff Access{% endblock %}
{% block h1 %}Staff Access{% endblock %}
{% block content %}
{% load static %}



        <!-- staff-access start -->
        <section id="login">
            <div class="container">
                <div class="section-header">
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="login-col-1">
                            <div class="login-form">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Staff Name" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Staff Phone Number" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" placeholder="Staff Password" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" placeholder="Repeat Staff Password" required="required" />
                                        </div>
                                    </div>
                                    <div><button type="submit">Register</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>
        <!-- staff-access End -->

{% endblock %}