{% extends 'base.html' %}

{% block title %}staff{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>staff</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
        <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Pacifico" rel="stylesheet"> 

        <!-- Bootstrap CSS File -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

        <!-- Main Stylesheet File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>

        <!-- Top Header Start -->
        <!-- <section id="top-header">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" />
            </div>
        </section> -->
        <!-- Top Header End -->

        <!-- Header Start -->
        <header id="header">
            <img src="{% static 'img/rb_49164.png' %}" />

            <div class="container">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="menu.html">Menu</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="Analytics.html">Analytics</a></li>
                        <li><a href="{% url 'login' %}">{{login_logout}}</a></li>
                    </ul>
                </nav>
            </div>

        </header>
        <!-- Header End -->
        <h1 class="st-h">Staff Panel</h1>
        {% if user.is_authenticated %}
            <h3 class="st-h" > Welcome {{user.first_name}} {{user.last_name}}!</h3>
        {% endif %}
        <div class="st-panel">
            <li><a href="checkout.html">checkout</a></li>
            <li><a href="Edit-product.html">Edit product</a></li>
            <li><a href="Add-product.html">Add product</a></li>
            <li><a href="Add-category.html">Add category</a></li>

        </div>

        <!-- Cart Section Start -->
        <section id="staff-cart">
            <div class="container">
                <header class="section-header">
                    <h3 class="st-ti">Sales Analytics<span>(last month)</span></h3>
                    
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">ICED LATTE MACCHIATO</th>
                                        <td>$10</td>
                                        <td>100</td>
                                        <td>$1000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PANINI</th>
                                        <td>$15</td>
                                        <td>30</td>
                                        <td>$450</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cappuccino</th>
                                        <td>$20</td>
                                        <td>15</td>
                                        <td>$300</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <header class="section-header">
                    <h3 class="st-ti st-customer">customers Analytics<span>(last month)</span></h3>
                    
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">No. of Orders</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Reward(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">09123456789</th>
                                        <td>100</td>
                                        <td>$1000</td>
                                        <td>98%</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">09378901234</th>
                                        <td>30</td>
                                        <td>$450</td>
                                        <td>100%</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">09356789999</th>
                                        <td>15</td>
                                        <td>$300</td>
                                        <td>88%</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Cart Section End -->

{% endblock %}