{% extends 'base.html' %}

{% block title %}staff-access{% endblock %}

{% block content %}
{% load static %}

        {% comment %} </header>
        <!-- Header End -->
        <h1 class="st-h">Staff Access</h1>
        {% if user.is_authenticated %}
            <h3 class="st-h" > Welcome {{user.first_name}} {{user.last_name}}!</h3>
        {% endif %}
        <!-- {%if user %}
        <h3>Welcom {{staff.first_name}} {{staff.last_name}}</h3>
        {%endif%} -->
        <div class="st-panel">
            <li><a href="{% url 'staff_checkout' %}">checkout</a></li>
            <li><a href="{% url 'edit-product' %}">Edit product</a></li>
            <li><a href="{% url 'add-product' %}">Add product</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li> {% endcomment %}

    </div>
        <!-- staff-access start -->
        <section id="login">
            <div class="container">
                <div class="section-header">
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="login-col-1">
                            <div class="login-form">
                                <!-- <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Staff Name" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Staff Phone Number" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" placeholder="Staff Password" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" placeholder="Repeat Staff Password" required="required" />
                                        </div>
                                    </div> -->
                                    <form method="post">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                    <div><button type="submit">Register</button></div>
                                </form>
                                <h4>Staff List</h4>
                                <ul>
                                {% for staff in staff_list %}
                                    <li>*{{ staff.first_name }} {{ staff.last_name }}* role : {{ staff.role }}</li>
                                {% empty %}
                                    <li>No staff registered yet.</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>
        <!-- staff-access End -->

{% endblock %}
