{% extends 'base.html' %}

{% block title %}Carts{% endblock %}

{% block content %}
{% load static %}

<!-- Cart Section Start -->
<section id="cart">
    <div class="container">
        <header class="section-header">
            <h3>Cart</h3>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Menu</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.items.all %}
                            <tr>
                                <th scope="row">{{ item.menu_item.name }}</th>
                                <td>${{ item.menu_item.price }}</td>
                                <td><div class="quantity"><input type="text" value="{{ item.quantity }}"></div></td>
                                <td>${{ item.total_price }}</td>
                                <td><a href=""><i class="fab fa-trash-o"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Total</th>
                                <th scope="col">-</th>
                                <th scope="col">-</th>
                                <th scope="col">${{ total_price }}</th>
                                <th scope="col">-</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->

<!-- Reservations Section Start -->
<section id="reservations">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="{% url 'submit_order' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="control-group col-sm-4">
                            <div class="form-group">
                                <div class="input-group" id="num" data-target-input="nearest">
                                    <input name="table_number" type="text" class="form-control" placeholder="Table Number" required />
                                </div>
                            </div>
                        </div>
                        <div class="control-group col-sm-4">
                            <div class="form-group">
                                <div class="input-group" id="num" data-target-input="nearest">
                                    <input name="phone_number" type="text" class="form-control" placeholder="Phone Number" />
                                </div>
                            </div>
                        </div>
                        <div class="control-group col-sm-4 button">
                            <button type="submit" class="btn btn-block btn-book">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Reservations Section End -->

{% endblock %}
