{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
{% load static %}

        <!-- Menu Section Start -->
        <section id="food-menu">
            <div class="container">
                <header class="section-header">
                    <h3><a href="menu.html">delicious Food Menu</a></h3>
                </header>
                <div class="menu-cat">
                    <a href="">Coffee</a>
                    <a href="">Teas</a>
                    <a href="">Pastries</a>
                    <a href="">Breakfast Items</a>
                    <a href="">Snacks</a>
                    <a href="">Specialty Drinks</a>
                </div>
                <!-- <div class="menu-cat">
                    {%for cat in cat_item%}
                    <a href="">{{cat.name}}</a>
                    {%endfor%}
                </div> -->

                <div class="row">
                    <!-- <div class="col-sm-6 col-md-4 col-lg-3">
                        {%for item in menu_items%}
                        <div class="single-menu" >
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>${{item.price}}</div>
                            <h4>{{item.name}}</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                        {%endfor%}
                    </div> -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-1.jpg' %}" />
                            <div>$20</div>
                            <h4>Espresso</h4>
                            <a href="order.html">Order Now</a>

                                <!-- <input type="number" id="quantity" name="quantity" min="1" max="5"> -->
                                <!-- <div class="quantity"><input type="text" value="1">
                                </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-2.jpg' %}" />
                            <div>$15</div>
                            <h4>Americano</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-3.jpg' %}" />
                            <div>$12</div>
                            <h4>Cappuccino</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-4.jpg' %}" />
                            <div>$18</div>
                            <h4>Latte</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-5.jpg' %}" />
                            <div>$25</div>
                            <h4>Mocha</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-6.jpg' %}" />
                            <div>$10</div>
                            <h4>Cold Brew</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-7.jpg' %}" />
                            <div>$18</div>
                            <h4>Black Tea</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-8.jpg' %}" />
                            <div>$14</div>
                            <h4>Green Tea</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Iced Tea</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Croissants</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Muffins (Blueberry, Chocolate Chip)</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>                    
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Cookies (Chocolate Chip, Oatmeal Raisin)</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>                    
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Breakfast Sandwiches (Egg & Cheese, Bacon & Egg)</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>                    
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Granola Bars</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>                    
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Trail Mix</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>                    
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Fruit Cups</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Section End-->

{% endblock %}