{% extends 'base.html' %} {% block title %}Menu{% endblock %} {% block content%}
{% load static %}

<!-- Menu Section Start -->
<section id="food-menu">
  <div class="container">
    <header class="section-header">
      <h3><a href="{% url 'menu' %}">delicious Food Menu</a></h3>
    </header>
    <div class="menu-cat">
      {%for cat in cat_item%}
      <a href="">{{cat.name}}</a>
      {%endfor%}
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        {%for item in menu_items%}
        <div class="single-menu">
          <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
          <div>${{item.price}}</div>
          <h4>{{item.name}}</h4>
          <a href="{% url 'product' item.id %}">Order Now</a>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</section>
<!-- Menu Section End-->

{% endblock %}
