{% extends 'base.html' %}

{% block title %}Product{% endblock %}
{% block login %}login{% endblock %}

{% block content %}
{% load static %}

        <!-- About Section Start-->
        <section id="product" style="background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-col-left"><img src="{% static 'img/menu-9.jpg' %}"></div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-col-right">
                            <header class="section-header">
                                <h3>{{ product.name }}</h3>
                                <p class="price">category: {{ product.category }}</p>
                            </header>

                            <p>
                                {{ product.description }}
                            </p>
                            <p class="price">
                               Price: ${{ product.price }} 
                            </p>
                            <span class="quantity"><input type="text" value="1"></span>
                            <a class="btn" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section End-->

{% endblock %}
