{% extends 'base.html' %}

{% block title %}search{% endblock %}

{% block content %}
{% load static %}

        <!-- Menu Section Start -->
        <section id="food-menu">
            <div class="container">
                <header class="section-header">
                    <h3><a href="{% url 'menu' %}">your search result</a></h3>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-1.jpg' %}" />
                            <div>$20</div>
                            <h4>Espresso</h4>
                            <span class="quantity"><input type="text" value="1"></span>
                            <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-2.jpg' %}" />
                            <div>$15</div>
                            <h4>Americano</h4>
                            <span class="quantity"><input type="text" value="1"></span>
                            <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-3.jpg' %}" />
                            <div>$12</div>
                            <h4>Cappuccino</h4>
                            <span class="quantity"><input type="text" value="1"></span>
                            <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>            
                </div>
            </div>
        </section>
        <!-- Menu Section End-->
{% endblock %}