{% extends 'base.html' %}

{% block title %}customer analytics{% endblock %}

{% block content %}
{% load static %}

    <h1 class="st-h">Staff Panel</h1>
    {% if user.is_authenticated %}
        <h3 class="st-h" > Welcome {{user.first_name}} {{user.last_name}}!</h3>
    {% endif %}
    <div class="st-panel">
        {% comment %} <li><a href="{% url 'checkout' %}">Checkout</a></li> {% endcomment %}
        <li><a href="{% url 'add-product' %}">Add Product</a></li>
        <li><a href="{% url 'edit-product' %}">Edit Product</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>


    </div>
        <!-- Cart Section Start -->
        <section id="staff-cart">

            <div class="container">
                <header class="section-header">
                    <h3 class="st-ti st-customer">customers Analytics</h3>
                    
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">No. of Orders</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">first date</th>
                                        <th scope="col">last date</th>
                                        <th scope="col">Reward(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">09123456789</th>
                                        <td>100</td>
                                        <td>$1000</td>
                                        <td>10-10-2020</td>
                                        <td>05-20-2024</td>
                                        <td>98%</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">09378901234</th>
                                        <td>30</td>
                                        <td>$450</td>
                                        <td>10-10-2020</td>
                                        <td>05-20-2024</td>
                                        <td>100%</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">09356789999</th>
                                        <td>15</td>
                                        <td>$300</td>
                                        <td>10-10-2020</td>
                                        <td>05-20-2024</td>
                                        <td>88%</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Cart Section End -->

{% endblock %}