{% extends 'base.html' %}

{% block title %}orders{% endblock %}

{% block content %}
{% load static %}

        <h1 class="st-h">Orders</h1>
        <div class="st-panel">
            <li><a href="checkout.html">checkout</a></li>
            <li><a href="Edit-product.html">Edit product</a></li>
            <li><a href="Add-product.html">Add product</a></li>
            <li><a href="Add-category.html">Add category</a></li>

        </div>

        <!-- Cart Section Start -->
        <section id="staff-cart">
            <div class="container">
                <header class="section-header">
                    <h3 class="st-ti">Sales Analytics<span>(last month)</span></h3>
                    
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">ICED LATTE MACCHIATO</th>
                                        <td>$10</td>
                                        <td>100</td>
                                        <td>$1000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PANINI</th>
                                        <td>$15</td>
                                        <td>30</td>
                                        <td>$450</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cappuccino</th>
                                        <td>$20</td>
                                        <td>15</td>
                                        <td>$300</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Cart Section End -->

{% endblock %}